.card{
  width: 80%;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

form{
  margin-left: 20%;
}

.label{
  text-align: right;
  font-size: 18px;
}

.example-full-width {
  width: 150%;
  //font-size: 16px;
}

.label2{
  text-align: center;
  font-size: 18px;
}

.table2 {
  width: 100%;
}

th{
  text-align: center;
  font-size: 14px;
  color: black;
  align-content: center;
  margin-left: 10px;
}
