.card{
  width: 80%;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

form{
  margin-left: 20%;
}

.label{
  text-align: right;
  font-size: 18px;
}

.example-full-width {
  width: 150%;
}

.label2{
  text-align: center;
  font-size: 18px;
}

.mat-divider {
  border-top-color: rgb(54, 148, 54);
}

.table2 {
  width: 100%;
}

.file1{
  margin-left: 10%;
  font-size: 18px;
}
