<div>
  <br>
</div>

<div>
  <mat-card class="card">

    <mat-card-title> View / Update User </mat-card-title>

    <div>
      <br>
    </div>

    <div>
      <form [formGroup]="userFindForm">

        <table >

          <tr>
            <td class="label">
              <mat-label for="uName"> User Name :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="text" formControlName="username" matInput required>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button mat-raised-button color="primary" type="submit" value="Submit"
                      *ngIf="getUser"
                      (click)="loadApiData()" [disabled]="!userFindForm.get('username').valid">
                <mat-icon>person_search</mat-icon> Find</button>
            </td>
          </tr>
          <br>
          <mat-divider class="mat-divider"> </mat-divider>

          <tr>
            <td class="label">
              <mat-label for="nic">NIC :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="text" formControlName="nic" matInput>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="email"> Email :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="email" formControlName="email" matInput>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="role"> Role :</mat-label>
            </td>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Select one</mat-label>
                <mat-select formControlName="roles" matInput>
<!--                  <mat-option *ngFor="let role of roles" value="{{role}}"> {{role}}</mat-option>-->
                  <mat-option value="ROLE_SUPER_ADMIN">Admin </mat-option>
                  <mat-option value="ROLE_ADMIN">Moderator </mat-option>
                  <mat-option value="ROLE_USER">User </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <br>
          <tr>
            <td class="label2" colspan="2">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" formControlName="status">Active</mat-checkbox>
              </section>
            </td>
          </tr>
          <br>
          <tr>
            <td class="label">
              <button mat-raised-button color="accent" type="reset" value="Reset"><mat-icon>refresh</mat-icon> Reset</button>
            </td>

            <td>
              <button mat-raised-button color="primary" type="submit" value="Submit"
                      [disabled]="!userFindForm.valid"
                      *ngIf="updateUser"
              (click)="onUpdate()"><mat-icon>people_alt</mat-icon> Update</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-card>
</div>

<div>
  <br>
</div>

<div>
  <mat-card class="card">

    <mat-card-title> Add New User </mat-card-title>

    <div>
      <br>
    </div>

    <div>
      <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">

        <table >
          <tr>
            <td class="label">
              <mat-label for="nic">NIC :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="text" formControlName="nic"  matInput placeholder="Ex: 983612358v or 199836102358">
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="uName"> User Name :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="text" formControlName="username" matInput placeholder="Ex: gayan">
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="email"> Email :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="email" formControlName="email" matInput placeholder="Ex: gayan@gmail.com">
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="role"> Role :</mat-label>
            </td>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Select one</mat-label>
                <mat-select formControlName="roles" matInput>
<!--                  <mat-option *ngFor="let role of roles" value="{{role}}"> {{role}}</mat-option>-->
                  <mat-option value="ROLE_SUPER_ADMIN">Admin </mat-option>
                  <mat-option value="ROLE_ADMIN">Moderator </mat-option>
                  <mat-option value="ROLE_USER">User </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td class="label">
              <mat-label for="email"> Password :</mat-label>
            </td>

            <td>
              <mat-form-field class="example-full-width">
                <input type="password" formControlName="password" matInput>
              </mat-form-field>
            </td>
          </tr>

          <br>
          <tr>
            <td class="label2" colspan="2">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" formControlName="status">
                  Active</mat-checkbox>
              </section>
            </td>
          </tr>
          <br>
          <tr>
            <td class="label">
              <button mat-raised-button color="accent" type="reset" value="Reset"><mat-icon>refresh</mat-icon> Reset</button>
            </td>

            <td>
              <button mat-raised-button color="primary" type="submit" value="Submit"
                      *ngIf="addUser"
                      [disabled]="!userRegistrationForm.valid"><mat-icon>person_add_alt_1</mat-icon>
                Add User</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-card>
</div>

<div>
  <br>
</div>
